<div class="container my-3">
    <div *ngIf="expenseList">
        <div class="container">
            <a class="row" *ngFor="let expense of expenseList">
                <a href="#" class="col-6 px-1 my-0">{{expense.articleLabel}}</a>
                <p class="col-4 px-1 my-0">{{expense.price}}</p>
                <div class="col px-1 my-0">
                    <span *ngFor="let tag of expense.tags">
                        <a href="#" [title]="tag.label" class="col-1 px-0 my-0">
                            {{tag.logo}}
                        </a>
                    </span>
                </div>

            </a>
        </div>
    </div>
</div>
