<div class="container my-3">
    <div class="row">
        <div class="col">
            <app-article-search
            (onArticleSelected)=onArticleSelected($event)>
            </app-article-search>
        </div>
    </div>
    <div class="row my-3">
        <div class="col pr-0">
            <input type="number"
            class="form-control-lg">           
        </div>
        <div class="col pl-0">
            <select name="currency" id="" class="form-control-lg">
                <option *ngFor="let currency of currencyList">
                    {{currency.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="datetime" placeholder="Date" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="number" placeholder="Quantity" class="form-control">
        </div>
        <div class="col">
            <input type="number" placeholder="Weight" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input placeholder="Location" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">

            <button class="btn btn-default">
                <i class="fa fa-2x fa-ellipsis-h"></i>
            </button>

        </div>
    </div>
</div>


<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
  