<nav class="navbar fixed-bottom bg-primary justify-content-between mt-4">

    <div class="row align-items-center">
        <a class="btn btn-primary col mx-1" 
        routerLink="/settings"
        routerLinkActive="active">
            Budget Monkey
        </a>
        <a 
        class="btn btn-primary col mx-1" 
        routerLink="/edit"
        routerLinkActive="active">
            <i class="fa fa-2x fa-plus-square"></i>
        </a>
        <a 
        class="btn btn-primary col mx-1" 
        routerLink="/expenses"
        routerLinkActive="active">
            <i class="fa fa-2x fa fa-bars"></i>
        </a>
    </div>
</nav>
