
<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 *ngIf="header" class="modal-title">{{header}}</h4>
                <button 
                tabindex=-1
                type="button" 
                class="close" 
                data-dismiss="modal"
                (click)="setAccepted(false)">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <ng-content></ng-content>
                <form [formGroup]="articleForm">
                    <div class ="container">
                        <div class="row">
                            <div class="col">
                                <input formControlName="label" class="form-control">
                            </div>

                            <div class="col-3">
                                <span class="badge badge-secondary">{{articleForm.get('id').value}}</span>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <span class="col">
                                Description
                                <textarea formControlName="description" class="form-control"></textarea>
                            </span>
                        </div>
                        <div class="row mt-2">
                            <span class="col">
                                Tags
                                <div *ngIf="articleForm.get('tagId')">
                                    <span *ngFor="let tagId of articleForm.get('tagId').value">
                                        {{tagId}}
                                    </span>
                                </div>
                                <select 
                                multiple
                                formControleName="tagId" 
                                class="form-control">
                                    <option 
                                    *ngFor="let tag of tagList"
                                    [ngValue]="tag.id">
                                        {{tag.label}} {{tag.logo}}
                                    </option>

                                </select>
                            </span>
                        </div>
                    </div>


                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button 
                type="button" 
                class="btn btn-primary" 
                data-dismiss="modal"
                (click)="setAccepted(true)">
                    <span *ngIf="!textAccept">Okay</span>
                    <span *ngIf="textAccept">{{textAccept}}</span>
                </button>
                <button 
                type="button" 
                class="btn btn-danger" 
                data-dismiss="modal"
                (click)="setAccepted(false)">
                    <span *ngIf="!textDismiss">Close</span>
                    <span *ngIf="textDismiss">{{textDismiss}}</span>
                </button>

            </div>

        </div>
    </div>
</div>