
<form [formGroup]="articleSearchFormGroup">
    <input 
    (focus)="isFocusedOnInput = true; onFocusUpdate()" 
    (blur)="isFocusedOnInput = false; onFocusUpdate()"
    formControlName="term" placeholder="Article" class="form-control">
    <!-- <div *ngIf="isSearchResultVisible" class="continer"> -->
    <div [ngStyle]="getResultListStyle()" class="container">
        <div class="position-absolute">
            
            <div class="card sticky-top">
                <div class="list-group list-group-flush">                
                    <a
                    tabindex=0
                    (focus)="isFocusedOnResults = true; onFocusUpdate()" 
                    (blur)="isFocusedOnResults = false; onFocusUpdate()"
                    *ngFor="let searchResults of getResults()"
                    class="list-group-item py-1"
                    (click)="onSelectResult(searchResults.get('id').value)"
                    (keyup)="$event.keyCode === 13 && onSelectResult(searchResults.get('id').value)"
                    >
                        {{searchResults.get('label').value}}
                    </a>
                    <a
                    *ngIf="articleSearchFormGroup.get('term').value"
                    tabindex=0
                    (focus)="isFocusedOnResults = true; onFocusUpdate()" 
                    (blur)="isFocusedOnResults = false; onFocusUpdate()"
                    class="list-group-item py-1"
                    (click)="onCreateArticle()"
                    (keyup)="$event.keyCode === 13 && onCreateArticle()"
                    >
                        <span>
                            <i class="fa fa-plus-circle"> </i>
                        </span>
                        {{articleSearchFormGroup.get('term').value}}
                    </a>

                </div>
            </div>
        </div>

    </div>
</form>

<app-article-edit-modal 
[status]="modalStatus"
header="Create new Article"
[article]="newArticle"
textAccept="Create"
tabindex=0
(focus)="isFocusedOnModal=true; onFocusUpdate()"
(blur)="isFocusedOnModal=false; onFocusUpdate()"
(onAccept)="onArticleCreated($event)">
</app-article-edit-modal>
