
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$budget-badger-fe-primary: mat-palette($mat-indigo);
$budget-badger-fe-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$budget-badger-fe-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$budget-badger-fe-theme: mat-light-theme($budget-badger-fe-primary, $budget-badger-fe-accent, $budget-badger-fe-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($budget-badger-fe-theme);


$primary: purple;
$secondary: rgb(141, 68, 0);
$danger: red;

/* You can add global styles to this file, and also import other style files */
// styles.scss
@import "~bootstrap/scss/bootstrap.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
